<section class="article-full-text">
    <div class="container">
        <h3 id="agreement">Обработка персональных данных</h3>
        <p>Пользовательское соглашение на сайте (или в приложении) регулирует правовые взаимоотношения между владельцем веб-ресурса, пользователями и третьими лицами. Оно очерчивает круг ответственности для поставщика товаров и услуг, а потому является юридическим документом. Содержание пользовательского соглашения должно соответствовать действующим нормам материального права.</p>

        <p>Посещая наши Веб-сайты и/или используя наши Продукты, вы соглашаетесь с условиями данной Политики конфиденциальности. Если вы не согласны с условиями данной Политики конфиденциальности, пожалуйста, не посещайте и/или не используйте наши Веб-сайты и Продукты.</p>

        <h3>Какую информацию мы собираем о вас</h3>
        <p>Личная информация – это информация, которая идентифицирует физическое лицо или относится к идентифицируемому физическому лицу. Мы собираем личную и другие виды информации, а) когда вы предоставляете ее нам, б) когда вы посещаете наши Веб-сайты, в) когда третьи лица предоставляют ее нам.</p>

        <h3>Информация, которую мы собираем автоматически</h3>
        <p>Мы автоматически собираем информацию, когда вы перемещаетесь по нашим Веб-сайтам или просматриваете нашу рекламу. Собранная информация включает в себя уникальный идентификатор устройства, IP адрес или MAC адрес, данные о вашем местоположении, трафике, действиях на Веб-сайтах и другую аналогичную информацию. Мы также используем файлы cookie и другие технологии отслеживания.</p>

        <h3>Условия пользовательского соглашения</h3>
        <p>Вы настоящим подтверждаете, что прочитали, поняли и полностью согласны соблюдать настоящее Соглашение и Политику конфиденциальности АйтиШторм.</p>
        <p>Вы настоящим подтверждаете, что с момента регистрации на Сайте и в течение времени пользования Услугами АйтиШторм, а также персонализированными сервисами Сайта, Вы являетесь Пользователем АйтиШторм вплоть до Вашего личного обращения в Службу клиентской поддержки Айтишторм об отказе от любых взаимоотношений с АйтиШторм.</p>

        <h3 id="data">Согласие на обработку персональных данных</h3>
        <p>Мы автоматически собираем информацию, когда вы перемещаетесь по нашим Веб-сайтам или просматриваете нашу рекламу. Собранная информация включает в себя уникальный идентификатор устройства, IP адрес или MAC адрес, данные о вашем местоположении, трафике, действиях на Веб-сайтах и другую аналогичную информацию. Мы также используем файлы cookie и другие технологии отслеживания.</p>

        <h3>ЧАСТЬ I. О взаимоотношениях АйтиШторм с Пользователем</h3>

        <p>1. Общие положения</p>

        <p>1.1. АйтиШторм предлагает Вам свои Услуги и сервисы Сайта на условиях, изложенных в настоящем Соглашении.</p>
        <p>1.2. Использование сервисов Сайта, а также все отношения между Вами и АйтиШтормом, связанные с использованием сервисов Сайта, регулируются настоящим Соглашением.</p>
        <p>1.3. Используя любой из сервисов Сайта или воспользовавшись любой его функциональной возможностью, Вы выражаете свое безоговорочное согласие со всеми условиями настоящего Соглашения и всеми иными условиями, изложенными на страницах Сайта, обязуетесь соблюдать их, а в случае несогласия с любым из условий немедленно прекратить использование сервисов и покинуть Сайт.</p>
        <p>1.4. Вы проинформированы, что настоящее Соглашение распространяется на все существующие на данный момент сервисы Сайта, а также на любое их развитие и/или добавление новых сервисов.</p>
        <p>
            1.5. Вы признаёте и соглашаетесь, что ничто в Соглашении не может пониматься как установление между Вами и АйтиШтормом агентских отношений, отношений товарищества (совместной деятельности), отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных настоящим Соглашением.
        </p>
        <p>
            1.6. Настоящее Соглашение регулируются гражданским законодательством Российской Федерации, в том числе Законом Р Ф «О защите прав потребителей» от 07.02.1992 №2300−1, и подзаконными нормативными актами.
        </p>
        <p>
            1.7. Вы соглашаетесь на то, что все возможные споры по поводу настоящего Соглашения и отношений между Вами и АйтиШтормом будут разрешаться по нормам российского права.
        </p>
        <p>
            1.8. Вы соглашаетесь, что признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности или неисполнимости иных положений Соглашения.
        </p>
        <p>
            1.9. Бездействие со стороны АйтиШторма в случае нарушения Вами положений Соглашения не лишает АйтиШторм права предпринять соответствующие действия в защиту своих интересов позднее, а также не означает отказа АйтиШторма от своих прав в случае совершения в последующем подобных либо сходных нарушений.
        </p>
        <p>
            1.10. АйтиШторм оставляет за собой право изменять настоящее Соглашение без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.
        </p>
        <p>
            1.11. Вы подтверждаете своё согласие с положениями настоящего Соглашения нажатием кнопки «Принять Пользовательское Соглашение» при Регистрации, в том числе на последнем шаге оформления Заказа на Сайте.
        </p>
        <p>
            1.12. АйтиШторм рекомендует лицам, не достигшим 18 лет, воздержаться от доступа к персонализированным сервисам Сайта. АйтиШторм не собирает намеренно сведений, поступивших от несовершеннолетних, включая персональные данные последних, не использует и не ориентирует содержание Сайта на несовершеннолетних. Ответственность за действия несовершеннолетних, включая приобретение ими Товаров из каталога АйтиШторма на Сайте, лежит на законных представителях несовершеннолетних.
        </p>
    </div>
</section>
