<div class="carousel-item">
    <div class="carousel-item-info">
        <div class="carousel-item-info-promo">{{item.promo}}</div>
        <div class="carousel-item-info-title" [innerHTML]="item.title"></div>
        <div class="carousel-item-info-text" *ngIf="item.text">
           {{item.text}}
        </div>
        <div class="carousel-item-info-action" [ngStyle]="{'margin-top': item.text ? '50px' : '40px'}">
            <button class="btn btn-big" (click)="order(item.id)">Подробнее</button>
        </div>
    </div>
    <div class="carousel-item-image">
        <img src="/assets/images/pages/{{item.image}}" alt="Image">
    </div>
</div>
