@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.blog {
  padding: 80px 0 120px;

  .blog-title {
    @include head-lora-38;
    margin-bottom: 40px;
  }

  .blog-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .blog-head-filters {
      display: flex;
      flex-wrap: wrap;
      margin-right: 20px;
      gap: 10px;

      .blog-head-filter {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid $light-blue-color;
        border-radius: 5px;
        padding: 8px 20px;
        font-size: 16px;
        color: $light-blue-color;

        a {
          max-height: 17px;
        }
      }
    }

    .blog-filter-button {
      border-radius: 5px;

      .blog-filter-button-head {
        display: flex;
        gap: 8px;
        align-items: center;

        span {
          width: 120px;
          font-size: 16px;
          color: $dark-blue-color;
        }
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .pagination-arrow {
      cursor: pointer;

      &.disabled {
        opacity: 0.5;
      }
    }

    .pagination-pages {
      display: flex;
      gap: 20px;

      .pagination-page {
        border-radius: 122px;
        padding: 10px;
        font-size: 20px;
        color: $dark-blue-color;
        cursor: pointer;

        &.active {
          color: #b9d5fd;
        }
      }
    }
  }
}
