<div class="login">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Войти в личный кабинет</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="email" placeholder="Электронная почта">
        </div>
        <div class="auth-input">
          <input type="password" placeholder="Пароль">
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember">
          <label for="remember">Запомнить меня</label>
        </div>
        <div class="auth-btn">
          <button class="btn btn-big">Войти</button>
        </div>
        <div class="auth-link">
          Нет аккаунта?<a routerLink="/signup">Пройдите регистрацию</a>
        </div>
      </div>
    </div>
    <div class="auth-image">
      <img src="/assets/images/pages/login-image.png" alt="Login Image">
    </div>
  </div>
</div>
