<div class="signup">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Регистрация на сайте</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" placeholder="Вашу имя">
        </div>
        <div class="auth-input">
          <input type="email" placeholder="Электронная почта">
        </div>
        <div class="auth-input">
          <input type="password" placeholder="Пароль">
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember">
          <label for="remember">Я принимаю <a href="#">условия пользовательского соглашения</a> и даю <a href="#">согласие на обработку персональных данных</a>.</label>
        </div>
        <div class="auth-btn">
          <button class="btn btn-big">Зарегистрироваться</button>
        </div>
        <div class="auth-link">
          Уже есть аккаунт?<a routerLink="/login">Войдите</a>
        </div>
      </div>
    </div>
    <div class="auth-image">
      <img src="/assets/images/pages/signup-image.png" alt="SignUp Image">
    </div>
  </div>
</div>
