.loader {
  width: fit-content;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 90deg;
  }

  50% {
    rotate: 180deg;
  }

  75% {
    rotate: 270deg;
  }

  100% {
    rotate: 360deg;
  }
}
