@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: $light-blue-color;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 130%;
  box-sizing: border-box;

  &.btn-small {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 20px;
  }

  &.btn-big {
    font-weight: 400;
    font-size: 16px;
    padding: 15px 40px;
  }
}

.mat-dialog-container {
  border: 1.50px solid $light-blue-color;
  background: #fff;
  border-radius: 10px !important;
  padding: 0 !important;
}

.popup {
  position: relative;
  padding: 94px 152px 86px;

  .popup-close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  .popup-with-form {
    .popup-title {
      @include head-lora-38;
      margin-bottom: 20px;
      max-width: 422px;
      text-align: center;
    }

    .popup-form {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        margin-bottom: 5px;
      }

      label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: red;
        margin-bottom: 5px;
      }

      .btn {
        width: 100%;
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }

  .popup-success-request {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .popup-title {
      @include head-lora-38;
      margin-bottom: 20px;
    }

    .popup-text {
      font-weight: 500;
      font-size: 14px;
      color: #1e1a2b;
      margin-bottom: 40px;
    }
  }
}

input {
  border: 2px solid $light-blue-color;
  border-radius: 3px;
  padding: 17px 20px;
  box-sizing: border-box;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $light-blue-color;
  outline: none;

  &::placeholder {
    color: #a8aba7;
  }
}

.blue-text {
  color: $light-blue-color;
}

.owl-theme {
  position: relative;

  .owl-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;

    .owl-dot {
      span {
        background-color: transparent;
        width: 10px;
        height: 10px;
        box-sizing: border-box;
        border: 1px solid white;
        margin: 0 10px;
      }

      &.active span, &:hover span {
        background: white;
      }

    }
  }
}

//.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
